	<%= flash_message %>

	<table class="table table-bordered">
		<thead>
			<tr>
				<th>Livro</th>
				<th>Autor</th>
				<th>Qtde Total</th>
				<th>Qtde Disponível</th>
				<th>
					<div class="btn-group">
						<% if current_user.admin? %>
							<%= link_to "Cadastrar", new_livro_path, class: "btn btn-primary" %>							  		
						  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
						    <span class="caret"></span>
						    <span class="sr-only">Toggle Dropdown</span>
						  </button>
						  <ul class="dropdown-menu">
						    <li><%= link_to "Usuarios", users_path %></li>  
						  </ul>
					</div>
						<% else %>
					 	Ação
						<% end %>		
				</th>
			</tr>
		</thead>
		<tbody>
			<% @livros.each do |livro| %>
			<tr>
				<td><%= livro.titulo %></td>
				<td><%= livro.nome_autor %></td>
				<td><%= livro.qtde_total %></td>
				<td><%= livro.quantidade_disponivel %></td>
				<td>
					<div class="btn-group">
						<% if livro.alugado_por?(current_user) %>
							<%= link_to "Devolver", livro_alugueis_path(livro), method: :delete, class: "btn btn-primary", data: {confirm: 'Gostaria de devolver esse livro?'} %>
						<% else %>
							<% if current_user.possui_alugueis_ativos? %>
								<%= link_to "Alugar", '#', disabled: true, class: "btn btn-primary" %>
							<% else %>
								<%= link_to "Alugar", livro_alugueis_path(livro), method: :post, class: "btn btn-primary", data: {confirm: 'Gostaria de alugar esse livro?', disable_with: "Alugando" } %>
							<% end %>
					  	<% end %>
					  <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
					    <span class="caret"></span>
					    <span class="sr-only">Toggle Dropdown</span>
					  </button>
					  <ul class="dropdown-menu">
					    <li><%= link_to "Detalhes", livro_alugueis_path(livro) %></li>

					  <% if current_user.admin? %>
					  <li><%= link_to "Editar", edit_livro_path(livro) %></li>	 
					  <li><%= link_to "Remover", livro_path(livro), method: :delete, data: {confirm: 'Deseja realmente remover esse livro?'} %></li>
					   <% end %>
					  </ul>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

